<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>

	<nav th:replace="fragments/nav" />




<div class="container">
  <h2><span th:text="#{markDetails.message}">Detalles de la nota</span></h2>
  <div class="panel panel-default">
  	<div class="panel-heading"><span th:text="#{dni.message}">DNI</span></div>
  	<div class="panel-body" th:text="${mark.user.dni}">
  		28276
  	</div>
  </div>                                                                            
  <div class="panel panel-default">
	  <div class="panel-heading"><span th:text="#{description.message}">Descripción</span></div>
	  <div class="panel-body" th:text="${mark.description}">
		Ejercicio 1
	  </div>
  </div>
  <div class="panel panel-default">
	  <div class="panel-heading"><span th:text="#{score.message}">Puntuación</span></div>
	  <div class="panel-body" th:text="${mark.score}">
		100
	  </div>
  </div>
</div>

	<footer th:replace="fragments/footer" />

</body>
</html>
